<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
        <title>404|Page not found</title>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
            <p>{{errMsg}}</p>
        </div>
        {{>footer}}
    </body>
</html>