<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class='main-content'>
            {{>header}}
            <p>This site was created by Michael Marolt. It uses Data from Mapbox.com and darksky.net!</p>
            <img class = 'portrait' src='/images/pic1.jpg'>
        </div>
        {{>footer}}
    </body>
</html>