<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class = 'main-content'>
            {{>header}}

            <p>Use this site to get your weather!</p>

            <form>
                <input placeholder="Loaction">
                <button>Search</button>
            </form>
            <button onclick="getWeather()">Use Current Location</button>
            <p id = "message-one"></p>
            <p id = "message-two"></p>
        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>